# NewebPay (藍新金流)
NEWEB_MERCHANT_ID=
NEWEB_HASH_KEY=
NEWEB_HASH_IV=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# EmailJS
EMAILJS_SERVICE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_TEMPLATE_ID=
EMAILJS_MEMBER_JOIN_TEMPLATE_ID=
